@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@layer components {
    .container {
        @apply w-[1145px] lg:w-[960px] md:w-[720px] sm:w-[540px] xs:w-[100%] mx-auto;
    }

    .container-big {
        @apply w-[1580px] swiper-cont:w-[1145px] lg:w-[960px] md:w-[720px] sm:w-[540px] xs:w-[100%] mx-auto;
    }

    .btn {
        @apply flex justify-center items-center w-[160px] h-[45px] bg-main rounded-[30px] text-[12px] leading-[22px] font-normal uppercase hover:brightness-75 transition-all cursor-pointer text-white col-start-2 col-end-3 sm:col-start-1 sm:col-end-2
    }

    .burger-btn {
        display: none;
        flex-direction: column;
        gap: 7px;
        cursor: pointer;
    }

    .burger-menu {
        transform: translateX(-100%);
        transition: .3s all ease;
    }

    .burger-menu_active {
        transform: translateX(0);
    }

    .burger-btn span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #fff;
    }

    .section-title {
        @apply text-[26px] leading-[23px] font-bold text-gray-dark uppercase text-center xs:text-[24px] xs:leading-8
    }

    .section-subtitle {
        @apply text-[21px] leading-[24px] font-light text-gray-dark text-center xs:text-base
    }

    .subtitle-sm {
        @apply text-base leading-[22px] font-bold text-main
    }

    .subtitle-lg {
        @apply text-[18px] leading-[22px] font-bold text-main text-center
    }

    .item-text {
        @apply text-[14px] font-light text-gray-light;
    }

    .card-text {
        @apply text-sm leading-[20px] font-light text-gray-dark
    }

    .comments-swiper-slide {
        transform: scale(.6);
        opacity: .6;
        transition: .3s all ease;
        flex-shrink: 0;
    }

    .comments-swiper-slide span {
        font-size: 18px;
    }

    .comments-swiper-slide p {
        font-size: 14px;
    }

    .swiper-slide-active {
        transform: scale(1) !important;
        opacity: 1 !important;
    }

    .prev {
        display: block !important;
        position: absolute;
        top: 30px;
        left: 43%;
        z-index: 1000;
        cursor: pointer;
        @apply swiper-cont:left-[40%] md:left-[38%] sm:hidden !important;
    }

    .next {
        display: block !important;
        position: absolute;
        top: 30px;
        right: 43%;
        z-index: 1000;
        cursor: pointer;
        @apply swiper-cont:right-[40%] md:right-[38%] sm:hidden !important;
    }

    .prev::after {
        content: url("./assets/icons/left.png");

    }

    .next::after {
        content: url("./assets/icons/right.png");

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 575px) {
    .comments-swiper {
        padding: 0 8px !important;
    }
}