@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

    div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@layer components {
    .container {
        @apply min-w-[1145px] lg:min-w-[960px] md:min-w-[720px] sm:min-w-[540px] xs:min-w-[100%] mx-auto;
    }

    .btn {
        @apply px-[23px] py-[18px] bg-main rounded-[30px] text-[12px] leading-[22px] font-normal uppercase hover:brightness-75 transition-all
    }
}